<%- include("../includes/head") , { title: 'تسجيل الدخول' } %>
<link rel="stylesheet" href="/styles/auth.css" />
<link rel="stylesheet" href="/styles/navbar.css" />

<body>
  <%- include('../includes/header') %>
  <main>
    <form class="validation-form" action="/login" method="POST">
      <h1>الدخول</h1>
      <% if (messages.error ) {%>
      <div class="error">
        <li class="fa fa-times-circle"><%= messages.error %></li>
      </div>
      <% } %>
      <div>
        <label for="email">البريد الإلكتروني:</label>
        <span class="req">*</span>
        <input
          type="email"
          id="email"
          name="email"
          value="<%= formData ? formData.email : '' %>"
          required
          oninvalid="this.setCustomValidity('الرجاء إدخال البريد الإلكتروني')"
          oninput="this.setCustomValidity('')"
        />
      </div>

      <div>
        <label for="Password">كلمة المرور:</label>
        <span class="req">*</span>
        <input
          type="password"
          id="password"
          name="password"
          value=""
          required
          oninvalid="this.setCustomValidity('الرجاء إدخال كلمة المرور')"
          oninput="this.setCustomValidity('')"
        />
      </div>
      <button class="btn">تسجيل</button>
      <p>اذا لم يكن لديك حساب <a class="btn" href="/signup"> انشئ حساب</a></p>
    </form>
  </main>
  <%- include("../includes/footer") %>
</body>
