<%- include("../includes/head") , { title: 'Ticket Update' } %>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<link rel="stylesheet" href="/styles/validation.css" />
<link rel="stylesheet" href="/styles/ticket.css" />

<body>
  <%- include('../includes/header') %>
  <main>
    <form class="validation-form" action="/admin/ticket/<%= ticket.id %>" method="POST">
      <h1>Ticket Update</h1>
      <ul id="tickets-grid">
        <% if (messages.success ) {%>
          <div class="success">
            <li class="fa fa-times-circle">
              <%= messages.success %>
            </li>
          </div>
          <% } %>
        <li>
           <article class="ticket-item">
               <div class="ticket-item-content">
                   <h2>Ticket Title: <%= ticket.title %></h2>
                   <p style="font-weight: bold; margin-top: 2rem;">By <%= ticket.user_email  %></p>
                   <p>Description: <%= ticket.description %></p>
      <div>
        <label for="priority">Priority:</label>
        <input type="priority" id="priority" name="priority" value=""  />
      </div>

      <div>
        <label for="status">Status:</label>
        <select id="status" name="status"> 
          <% statuses.forEach(function(status) { %>
            <option value="<%= status.id %>" <%= ticket.status === status.id ? "selected" : "" %> >
              <%= status.name %>
            </option>
          <% }) %>
        </select>
      </div>

      <div>
        <label for="project">Project:</label>
        <select id="project" name="project"> 
          <% projects.forEach(function(project) { %>
            <option value="<%= project.id %>" <%= ticket.project === project.id ? "selected" : "" %> >
              <%= project.name %>
            </option>
          <% }) %>
        </select>
      </div>

      <div>
        <label for="type">Type:</label>
        <select id="type" name="type"> 
          <% types.forEach(function(type) { %>
            <option value="<%= type.id %>" <%= ticket.type === type.id ? "selected" : "" %> >
              <%= type.name %>
            </option>
          <% }) %>
        </select>
      </div>

      <div>
        <label for="reply">Reply:</label>
        <textarea
          type="reply"
          id="reply"
          name="reply"
          value=""
        > </textarea>
      </div>

<!--       <div class="g-recaptcha" data-sitekey="6LcRiFgqAAAAAOE5xTh0tVYahMjZNpVwEX7RfRR6"></div>
 -->      
      <button type="submit" class="btn">Update</button>
    </form>
  </main>
  <%- include("../includes/footer") %>
</body>
