<%- include("../includes/head") , { title: 'Ticket Update' } %>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<link rel="stylesheet" href="/styles/validation.css" />
<link rel="stylesheet" href="/styles/ticket.css" />
<link rel="stylesheet" href="/styles/navbar.css" />


<body>
  <%- include('../includes/header') %>
  <main>
    <form class="validation-form" action="/admin/ticket/<%= ticket.id %>" method="POST">
      <h1>Ticket Update</h1>
      <ul id="tickets-grid">
        <% if (messages.success ) {%>
          <div class="success">
            <li class="fa fa-times-circle">
              <%= messages.success %>
            </li>
          </div>
          <% } %>
        <li>
        <article class="ticket-item">
            <div class="ticket-item-content">
                <h2>Ticket Title: <%= ticket.title %></h2>
                <p style="font-weight: bold; margin-top: 2rem;">By <%= ticket.user_email  %></p>
                <p>Description: <%= ticket.description %></p>
                <% if (image) { %>
                  <p>Image Attached: <img src="<%= image %>" alt="Screenshot"></p>
                  <% } else { %>
                   <p>No Image Attached To This Ticket</p>
                   <% } %>
                <hr>
                <% if (Array.isArray(replies) && replies.length > 0) { %>      
                  <% replies.forEach((el, idx) => { %>
                    <% if (el.reply_from === "admin") { %>
                      <p>Admin Reply <%= idx + 1 %>: <%= el.name %></p>
                    <% } else if (el.reply_from === "agent") { %>
                      <p>Agent Reply <%= idx + 1 %>: <%= el.name %></p>
                    <% } %>
                  <% }) %>
                <% } else { %>
                  <p>No replies yet.</p>
                <% } %>
              </div>
              <hr>
        </article>

      <div>
        <label for="priority">Priority:</label>
        <input type="priority" id="priority" name="priority" value=""  />
      </div>

      <div>
        <label for="status">Status:</label>
        <select id="status" name="status"> 
          <% statuses.forEach(function(status) { %>
            <option value="<%= status.id %>" <%= ticket.status === status.id ? "selected" : "" %> >
              <%= status.name %>
            </option>
          <% }) %>
        </select>
        <a style="display: inline-flex;" class="btn" href="/admin/ticket-status">Add</a>
      </div>

      <div>
        <label for="project">Project:</label>
        <select id="project" name="project"> 
          <% projects.forEach(function(project) { %>
            <option value="<%= project.id %>" <%= ticket.project === project.id ? "selected" : "" %> >
              <%= project.name %>
            </option>
          <% }) %>
        </select>
        <a style="display: inline-flex;" class="btn" href="/admin/ticket-project">Add</a>
      </div>

      <div>
        <label for="type">Type:</label>
        <select id="type" name="type"> 
          <% types.forEach(function(type) { %>
            <option value="<%= type.id %>" <%= ticket.type === type.id ? "selected" : "" %> >
              <%= type.name %>
            </option>
          <% }) %>
        </select>
        <a style="display: inline-flex;" class="btn" href="/admin/ticket-type">Add</a>
      </div>


<!--       <div class="g-recaptcha" data-sitekey="6LcRiFgqAAAAAOE5xTh0tVYahMjZNpVwEX7RfRR6"></div>
 -->      
      <button type="submit" class="btn">Update</button>
    </form>
  </main>
  <%- include("../includes/footer") %>
</body>
