<%- include("../includes/head") , { title: 'طلبي' } %>
<link rel="stylesheet" href="/styles/details.css" />
<link rel="stylesheet" href="/styles/navbar.css" />

<body>
  <%- include('../includes/header') %>
  <main>
    <h1>طلبي</h1>
    <ul id="tickets-grid">
      <li>
        <article class="ticket-item">
          <div class="ticket-item-content">
            <h2>العنوان: <%= ticket.title %></h2>
            <p style="font-weight: bold; margin-top: 2rem">
              من قبل <%= ticket.user_email %>
            </p>
            <p>الوصف: <%= ticket.description %></p>
            <p>
              الحالة: <%= (statuses[0].find(status => status.id ===
              ticket.status) || {}).name || "Unknown Status" %>
            </p>
            <% if (Array.isArray(replies) && replies.length > 0) { %> <%
            replies.forEach((el, idx) => { %>
            <p>الرد <%= idx + 1 %>: <%= el.name %></p>
            <% }) %> <% } else { %>
            <p>لايوجد رد الى الان</p>
            <% } %> <% if (adminImage) {%>
            <p>الرد بصورة: <img src="<%= adminImage %>" /></p>
            <% } %>
          </div>
        </article>
      </li>
    </ul>
  </main>
  <%- include("../includes/footer") %>
</body>
