<%- include("../includes/head") , { title: 'جميع الطلبات' } %>
<link rel="stylesheet" href="/styles/ticket.css" />
<link rel="stylesheet" href="/styles/navbar.css" />

<body>
  <%- include('../includes/header') %>
  <main>
    <h1>جميع التذاكر</h1>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>الايميل الخاص بالمستخدم</th>
            <th>العنوان</th>
            <th>الوصف</th>
            <th>رد</th>
          </tr>
        </thead>
        <tbody>
          <% tickets.forEach((ticket, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= ticket.user_email %></td>
            <td><%= ticket.title %></td>
            <td><%= ticket.description %></td>
            <td>
              <a class="btn-link" href="/agent/ticket/<%= ticket.id %>">رد</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </main>
  <%- include("../includes/footer") %>
</body>
