<%- include("../includes/head") , { title: 'Ticket Update' } %>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<link rel="stylesheet" href="/styles/validation.css" />
<link rel="stylesheet" href="/styles/ticket.css" />
<link rel="stylesheet" href="/styles/navbar.css" />
<link rel="stylesheet" href="/styles/update.css" />


<body>
  <%- include('../includes/header') %>
  <main>
    <form class="validation-form" action="/agent/ticket/<%= ticket.id %>" method="POST">
      <h1>الرد على التذكرة</h1>
      <ul id="tickets-grid">
        <% if (messages.success ) {%>
          <div class="success">
            <li class="fa fa-times-circle">
              <%= messages.success %>
            </li>
          </div>
          <% } %>        <li>
           <article class="ticket-item">
               <div class="ticket-item-content">
                   <h2>عنوان التذكرة: <%= ticket.title %></h2>
                   <p style="font-weight: bold; margin-top: 2rem;">من قبل <%= ticket.user_email  %></p>
                   <p>وصف التذكرة: <%= ticket.description %></p>
                   <% if (image && userId !== 2) { %>
                   <p>الصورة المضافة: <img src="<%= image %>" alt="Screenshot"></p>
                   <% } else { %>
                    <p>لايوجد صورة مضافة لهذه التذكرة</p>
                    <% } %>
                   <p>الاهمية: <%= ticket.priority %></p>
                   <p>المشروع: <%= (projects[0].find(project => project.id === ticket.project) || {}).name || "Unknown Status" %></p>
                   <p>النوع: <%= (types[0].find(type => type.id === ticket.type) || {}).name || "Unknown Status" %></p>
                   <p>الحالة: <%= (statuses[0].find(status => status.id === ticket.status) || {}).name || "Unknown Status" %></p>
                   <hr>
                   <% if (Array.isArray(replies) && replies.length > 0) { %>
                    <% replies.forEach((el, idx) => { %> 
                      <p>الرد  <%= idx + 1 %> من الادمن : <%= el.name %></p>
                    <% }) %>
                  <% } else { %>
                    <p>لا ردود من الادمن.</p>
                  <% } %>
                  <% if (adminImage) {%>
                  <p>اضافات الادمن: <img src="<%= adminImage %>"></p>
                  <% } %>
                  <hr>
      <div>
        <label for="reply">الرد:</label>
        <textarea
          type="text"
          id="reply"
          name="reply"
          value=""
        > </textarea>
      </div>

<!--       <div class="g-recaptcha" data-sitekey="6LcRiFgqAAAAAOE5xTh0tVYahMjZNpVwEX7RfRR6"></div>
 -->      
      <button type="submit" class="btn">ارسال</button>
    </form>
  </main>
  <%- include("../includes/footer") %>
</body>
